body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(46, 58, 75);
}

#calculator{
    background-color: rgb(66, 66, 66);
    padding: 2rem;
    height: fit-content;
}
.screen-div{
    background-color: rgb(110, 110, 110);
    color: rgb(238, 238, 238);
    font-size: 36px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 3rem;
    margin-bottom: 2rem;
}
.screen{
    margin-right: 5px;
    margin-top: 0;
    text-align: right;
}
.btns{
    display: flex;
    flex-wrap: wrap;
}
.btn{
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: rgb(238, 238, 238);
    height: 76px;
    width: 1rem;
    padding: 0;
    flex-basis: 25%;
}

.num-btn{
    background-color: rgb(110, 110, 110);
}
#zero{
    flex: 1 1 50%;
}
.operator-btn, .equals-btn{
    background-color: rgb(212, 139, 4);
}
.special-btn{
    background-color: rgb(138, 138, 138);
}

.btn:hover{
    filter: brightness(90%);
}